<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}</a>
  {% if user.is_authenticated %}
  <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="#">Change password</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
  </div>
  {% else %}
  <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'login' %}">Login</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">SignIn</a>
      <a class="dropdown-item" href="#">Restore password</a>
  </div>
  {% endif %}
</div>
